.sidebar {
    width: 250px;
    background: var(--primary-color);
    color: white;
    padding: 20px;
    display: flex;
    border-radius: 0 15px 1px 0;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    position: fixed;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.nav-links {
    list-style: none;
    padding: 0;
}

.nav-links li {
    padding: 12px 15px;
    margin: 8px 0;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 12px;
}

.nav-links li:hover {
    background: rgba(255, 255, 255, 0.1);
}

.nav-links li.active {
    background: rgba(255, 255, 255, 0.2);
}

.sub-menu {
    display: none;
    margin-top: 8px;
    padding-left: 10px;
}

.menu-item.expanded .sub-menu {
    display: block;
}

.sub-menu li {
    padding: 8px 0;
    color: #ffffff;
    transition: color 0.3s ease;
    display: block;
    width: 100%;
    font-size: 14px;
}

.sub-menu li:hover {
    color: #e08722;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.logo-header {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.logo .nexus-logo {
    width: 30px;
    height: 30px;
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imageSidebar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-bottom: 10px;
}

#usernameSidebar {
    font-size: 14px;
    color: white;
    margin-top: 5px;
} 
.logo-header h1 {
    font-size: 14px;
    color: white;
    font-weight: bold;
    margin: 0;
    white-space: nowrap;
}
